<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
  <!-- retrieve all links -->
  <!-- iterate -->
  <!-- display links individually -->

  <ul>
    <label>Search by Name<input ng-model="search.title"></label>
    <li ng-repeat="link in data.links | orderBy:'-visits' | filter:search:strict">  <!-- | filter:'-searchText' -->
      <div> {{link.title}}</div>
      <div>
        <a href="{{link.url}}">{{link.url}}</a>
      </div>
      <div> {{link.visits}} </div>
      <div>
        <a href="{{link.base_url}}/{{link.code}}">{{link.base_url}}/{{link.code}}</a>
      </div>
    </li>
  </ul>
</div>



